@import url('fonts/muli.css');

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
	--main-color: #e8ccaa;
	--accent-color: #ab9081;
	--semi-accent-color: #ab90817F;
}


body {
	font-family: 'muliregular';
	-webkit-touch-callout: none;
	/* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;
	/* prevent webkit from resizing text to fit */
	-webkit-user-select: none;
	/* prevent copy paste, to allow, change 'none' to 'text' */
	background-attachment: fixed;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow: hidden;
}

.app {
	background-color: var(--main-color);
	position: absolute;
	height: 100%;
	width: 100%;
}

.contenedor {
	background-color: transparent;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#topLine {
	background-color: var(--accent-color);
	position: absolute;
	height: 5%;
	width: 100%;
	z-index: 10;
}

#logo {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../img/logo.png);
	position: relative;
	height: 35%;
	width: 60%;
	top: 20%;
	margin: 0 auto;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition: width 2s, top 1s;
	transition: width 2s, top 1s;
}


#logo.small {
	width: 25%;
	top: 10%;
}


.intro {
	display: none;
	font-size: 16px;
	position: relative;
	width: 100%;
	top: 25%;
	margin: 0 auto;
	padding: 10px 20px;
	text-align: center;
}

.opacity2s {
	-webkit-transition: opacity 1s ease-in;
	-moz-transition: opacity 1s ease-in;
	-ms-transition: opacity 1s ease-in;
	-o-transition: opacity 1s ease-in;
	transition: opacity 1s ease-in;
}

.show {
	display: block;
	/*TODO: Se ve al iniciar */
	opacity: 1 !important;
}

#start {
	/*opacity: 0;*/
	display: none;
	position: relative;
	width: 60%;
	top: 25%;
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
	text-transform: uppercase;
	font-size: 20px;
}

#menu-title {
	margin-top: 50%;
}

.top-message {
	margin-top: 15%;
}

.ripple {
	background-position: center;
	transition: background 0.8s;
}

.ripple:hover {
	background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
	background-color: #6eb9f7;
	background-size: 100%;
	transition: background 0s;
}

.title {
	position: relative;
	width: 100%;
	padding-left: 30px;
	font-size: 30px;
	font-family: muliextralight;
	line-height: 20px;
	background-image: linear-gradient(left, transparent 60px, rgba(171, 144, 129, .5) 60px, rgba(171, 144, 129, .5) 100%);
	background-image: -webkit-linear-gradient(left, transparent 60px, rgba(171, 144, 129, .5) 60px, rgba(171, 144, 129, .5) 100%);
	background-image: -moz-linear-gradient(left, transparent 60px, rgba(171, 144, 129, .5) 60px, rgba(171, 144, 129, .5) 100%);
	background-image: -ms-linear-gradient(left, transparent 60px, rgba(171, 144, 129, .5) 60px, rgba(171, 144, 129, .5) 100%);
	background-image: -o-linear-gradient(left, transparent 60px, rgba(171, 144, 129, .5) 60px, rgba(171, 144, 129, .5) 100%);

}

.title2 {
	padding-left: 80px;
	font-family: muliregular;
	position: relative;
	width: 100%;
	font-size: 30px;
}

.title3 {
	text-align: right;
    font-weight: bold;
    margin-bottom: 10px;
    padding-right: 25px;
}

.contacto {
	margin: 10px 25px 0px 25px;
	font-size: 20px;
}

.info {
	margin: 0px 25px;
}

.model_char {
	margin-top: 10px;
	/*opacity: 0.75;*/
	font-size: 11px;
	line-height: 12px;
	background-image: linear-gradient(left, rgba(171, 144, 129, .5) 0, rgba(171, 144, 129, .5) 100%);
	background-image: -webkit-linear-gradient(left, rgba(171, 144, 129, .5) 0, rgba(171, 144, 129, .5) 100%);
	background-image: -moz-linear-gradient(left, rgba(171, 144, 129, .5) 0, rgba(171, 144, 129, .5) 100%);
	background-image: -ms-linear-gradient(left, rgba(171, 144, 129, .5) 0, rgba(171, 144, 129, .5) 100%);
	background-image: -o-linear-gradient(left, rgba(171, 144, 129, .5) 0, rgba(171, 144, 129, .5) 100%);
}

.model_name {
	margin-top: 10px;
	padding-left: 5vw !important;
	font-size: 20px;
	font-family: muliextralight;
	line-height: 12px;
	background-image: linear-gradient(left, transparent 30px, rgba(171, 144, 129, .5) 30px, rgba(171, 144, 129, .5) 100%);
	background-image: -webkit-linear-gradient(left, transparent 30px, rgba(171, 144, 129, .5) 30px, rgba(171, 144, 129, .5) 100%);
	background-image: -moz-linear-gradient(left, transparent 30px, rgba(171, 144, 129, .5) 30px, rgba(171, 144, 129, .5) 100%);
	background-image: -ms-linear-gradient(left, transparent 30px, rgba(171, 144, 129, .5) 30px, rgba(171, 144, 129, .5) 100%);
	background-image: -o-linear-gradient(left, transparent 30px, rgba(171, 144, 129, .5) 30px, rgba(171, 144, 129, .5) 100%);
}

.model_surname {
	padding-left: 10vw !important;
	font-family: muliregular;
	position: relative;
	font-size: 20px;
}

.model_insta {
	font-family: mulilight;
	position: relative;
	font-size: 15px;
    line-height: 30px;
}

#game {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0px 10px 0px 30px;
	padding: 20px;
}

#listen {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0px 30px 0px 10px;
	padding: 20px;
}

#personajes {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/personajes.png');
	position: absolute;
	height: 20%;
	width: 100%;
	bottom: 0px;
}

#thanks2 {
	margin-top: 15px;
}

/*******COMMON*******/

.button {
	background-color: var(--accent-color);
	border-radius: 20px;
	color: white;
	text-align: center;
	-webkit-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.5);
}

.button.small {
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	position: relative;
	margin: 0 5px 0 5px;
}

.huge {
	width: 70px;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	position: relative;
	margin: 10px auto;
	display: inline-block;
}

.botonera {
	margin: 10px 15px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
	.app {
		background-position: left center;
		padding: 75px 0px 75px 170px;
		/* padding-top + padding-bottom + text area = image height */
		margin: -90px 0px 0px -198px;
		/* offset vertical: half of image height */
		/* offset horizontal: half of image width and text area width */
	}
}




.player {
	position: relative;
	width: 90%;
	left: 5%;
}

.pressed {
	-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
	-moz-box-shadow: inset 0px 0px 5px #c1c1c1;
	box-shadow: inset 0px 0px 5px #c1c1c1;
}

.description {
	font-size: 16px;
	position: relative;
	width: 80%;
	margin: 10px auto;
	text-align: center;
	font-family: mulilight;
}

.suspect,
.helper {
	margin: 2.5vw;
	width: 19.5vw;
	height: 16vh;
	background-size: contain;
	background-repeat: no-repeat;
	transition: opacity 1s;
}

.helper {
	background-size: cover;
	transition: outline 0s;
}

#who {
	font-size: 20px;
	margin-bottom: 2vh;
}

.susbig {
	width: 90vw;
	height: 80vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 2;
}

.helper.medium {
	width: 40vw;
	margin: 10px auto 0;
	height: 25vh;
}

.helper.frame {
	outline-style: solid;
	outline-color: var(--accent-color);
	outline-width: medium;
	/*border: 5px var(--accent-color) solid;*/
}

#suspect1,
#helper1 {
	background-image: url('../img/suspect1.png');
}

#suspect2,
#helper2 {
	background-image: url('../img/suspect2.png');
}

#suspect3,
#helper3 {
	background-image: url('../img/suspect3.png');
}

#suspect4,
#helper4 {
	background-image: url('../img/suspect4.png');
}

#suspect5,
#helper5 {
	background-image: url('../img/suspect5.png');
}

#suspect6,
#helper6 {
	background-image: url('../img/suspect6.png');
}

#suspect7,
#helper7 {
	background-image: url('../img/suspect7.png');
}

#suspect8,
#helper8 {
	background-image: url('../img/suspect8.png');
}

#suspect9,
#helper9 {
	background-image: url('../img/suspect9.png');
}

#suspect10,
#helper0 {
	background-image: url('../img/suspect10.png');
}

.center {
	text-align: center;
}

.snappuzzle-wrap {
	position: relative;
	display: block;
}

.snappuzzle-pile {
	position: relative;
}

.snappuzzle-piece {
	cursor: move;
}

.snappuzzle-slot {
	position: absolute;
	background: var(--main-color);
	opacity: 1;
}

.snappuzzle-slot-hover {
	background: #eee;
}

#confirmation {
	background: var(--accent-color);
	text-align: center;
	top: 45vh;
	width: 60vw;
	position: absolute;
	margin: 0 auto;
	left: 20vw;
	font-size: 22px;
	color: white;
	padding: 10px;
	z-index: 10;
	transition: all 0.5s;
}

.hidden {
	display: none;
}

.opacity0 {
	opacity: 0 !important;
	z-index: -1 !important;
}

.key,
.motive {
	height: 25vh;
	line-height: 26vh;
	margin: 10px;
	font-size: 5vh;
}

.motive {
	display: flex;
	font-size: 25px;
	line-height: 25px;
	align-items: center;
	justify-content: center;
}

#motivo {
	margin-bottom: 10px;
}

.question {
	font-size: 17px;
	/*font-weight: bolder;*/
	padding-left: 40px;
}

.solution {
	font-size: 15px;
	padding-left: 70px;
}

#bNext {
	z-index: 1;
}

.strong {
	font-family: mulibold;
}

.text-small {
	font-size: 11px;
	margin-left: 20vw;
	width: 70vw;
	text-align: justify;
	background-image: url(../img/background-text.png);
	padding: 15px 20px 30px 15px;
	background-size: 70vw;
	background-repeat: no-repeat;
}

#text-credits {
	background-size: 71vw 15vh;
}
#text-novel {
	background-size: 71vw 17vh;
}
#text-trailer {
	background-size: 71vw 9vh;
}
#text-game {
	background-size: 71vw 14vh;
}

#puntuacion {
    font-size: 35px;
    line-height: 25px;
    margin-bottom: 20px;
    padding: 0;
}


.text-credit {
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
}

.text-credit2 {
	font-size: 15px;
	text-align: center;
}

.scrollable {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
}

.about-me {
	text-align: justify;
	display: flex;
	margin-top: 5px !important;
	margin-bottom: 0px !important;
}

.angel {
	background-image: url(../img/angel.png);
	/*width: 45vw;*/
	/*height: 40vh;*/
	padding: 0;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 5px;
}

.banner {
	height: 10vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto -30px auto;
    border: 5px solid var(--accent-color);
}

#freakmondo {
	background-image: url(../img/BannerFreakmondo.jpg);
}

#hotel {
	background-image: url(../img/BannerHotel.jpg);
}

#angelguzman {
	background-image: url(../img/BannerAngelGuzman.jpg);
}

#guerrademitos {
	background-image: url(../img/BannerGDM.jpg);
}

@media (max-height: 650px) {
	.button.small {
		height: 40px;
		line-height: 40px;
	}

	#text-credits {
		background-size: 71vw 16vh;
	}

	#text-novel {
		background-size: 71vw 19vh;
	}

	#text-trailer {
		background-size: 71vw 10vh;
	}

	#text-game {
		background-size: 71vw 16vh;
	}

	.question {
		font-size: 15px;
	}

	.helper.medium {
		width: 30vw;
	}

	.intro {
		font-size: 12px;
	}

	.text-small {
		font-size: 10px;
		margin-top: 10px;
	}

	.botonera {
		margin:  0px 15px 10px 15px
	}

	.description {
		font-size: 12px;
		margin: 10px auto;
	}
}
